@tailwind base;
@tailwind components;
@tailwind utilities;

/* Các class scrollbar-hide từ file HTML của bạn */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}