@tailwind base;
@tailwind components;
@tailwind utilities;

/* Khóa cuộn của trình duyệt để App tự quản lý cuộn */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Quan trọng: Ngăn cuộn ngoài lề */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}